<head>
<style>
	body {
    
}
	body {
   background-color:rgb(1, 2, 36);
	text-align:centre;
	font-family:Calibri;
	text-align: justify;
}
form{
	
	margin-left:18px;
}
table2  {
	
		background-color:rgb(1, 2, 36);
		color: rgb(204, 243, 15) ;
		float:left;
		text-align:left;
		width:30%;
		height:200px;
		border:2px solid rgb(52, 223, 4) ;
		border-radius:1px;
		font-family:Verdana, Geneva, sans-serif;
		transition-duration:0.5s;
		box-shadow: inset 0px 0px 1px rgba(0,0.1,0,0.1);
		padding: 25px;
		margin-right: -40px;
		margin-left: 70px; 
		padding-left: 0px; 
		padding-right: 0px;
		font-size:16px;
		}
	input{
		float: centre;
		background-color:white;
		color:black;
		float:center;
		text-align:left;
		width:90%;
		height:30px;
		border: 2;
		border-radius:7px;
		font-family: inherit,Geneva,sans-serif;
		font-size:16px;
		box-shadow: inset 0px 0px 1px rgba(0,0.1,0,0.1);
		margin-top:12px
	}
	
	button{
	
	margin-top: 25px;
	background-color:rgb(243, 166, 12) ;
	color:white;
	float: center;
	width:91%;
	height:45px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:16px;
	border:#FFA500;
	border-radius:4px;
	
	}

	table{
 
		background-color:rgb(1, 2, 36);
		color:  rgb(204, 243, 15) ;
		text-align:left;
		float:right ;
		height:20px;
		width: 30%;
		border:2px solid rgb(52, 223, 4) ;
		border-left-width: 2px; 
		font-family:Verdana, Geneva, sans-serif;
		font-size:16px;
		transition-duration:0.5s;
		box-shadow: inset 0px 0px 1px rgba(0,0.1,0,0.1);
		padding: 15px 0px 15px 10px;
		margin: 85px;
		margin-right: 50px; 
		margin-top: 40px;
		margin-left: 65px;
		}

 
	div{
	display: block;
	
	}

	h6 {
    color: white;
    margin-left: 400px;
	text-align:center;
	
	size:50%;
	float:center;
}
h1 {
	
	background-color:rgb(1, 2, 36);
	text-align:center;
	color:#FF1493;
    margin-left:45px;
	font-size:50px;
	border: 0px solid white;

	
} 
a{
	font-family:Verdana, Geneva, sans-serif;
	font-size:90px;
}

}

img {
	background-color:white;
	float:center;
	width:320px;
	height:240px;
	border-radius:100px;
	
}
head{
	background-color:white;
}


</style>
</head>