html{background-color: cornflowerblue;margin: 60px 100px;padding: 0}
h1{font-size: 90px; font-style: normal;color: chocolate;text-align: center}
h3{font-style: normal;color: chocolate;text-align: center}
form{border: 2px solid blue;float:left;padding: 60px;margin:90px;}
input{padding: 14px 60px}
input{padding-right: 12px }
button{padding: 14px;padding-right: 146px}