html { width: 100%; height:100%; overflow:hidden; }

body {
  width: 100%;
  height:100%;
  font-family: 'Open Sans', sans-serif;
  background: #092756;
}
.header a {
	margin-top: -65px;
	float: left;
	color: white;
	text-decoration: none;
	font-size: 30px;
}
#r a {
	float: right;
	color: white;
	font-size: 30px;
	margin-top: -65px;
	margin-right: 57px;
	text-decoration: none;
}
.hm a {
	font-size: 38px;
	color: #fff;
	text-decoration: none;
}
.hm {
  padding: 20px;
  margin-top: 100px;
  padding-left: 40%;
  padding-right: 40%;
  text-align: center;
  border-bottom: 4px solid white;
  border-top: 4px solid white;
}


.button1,.button2,.button3,.button4 {
    background-color: #2E343E;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 200px;
}
.btn{
  text-align: center;
  border-bottom: 4px solid white;
  margin-top: 8%;
}
.btn a:hover{
background-color: #5675B9;
}
.btn h1{
  padding:30px;

  font-size: 60px;
}
